<div class="container-center">
  <div class="card text-black m-5" style="border-radius: 25px;">
    <div class="card-body p-md-5">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

          <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

          <form class="mx-1 mx-md-4" [formGroup]="signup" (ngSubmit)="onSubmit()">

            <div class="flex-row align-items-center">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Username</mat-label>
                <input matInput placeholder="username" formControlName="username" id="username" type="text">
              </mat-form-field>
              <ng-container *ngIf="signup.get('username')?.touched">
                <small *ngIf="signup.get('username')?.hasError('required'); ">
                  *Username is required
                </small>
              </ng-container>

            </div>

            <div class="flex-row align-items-center mt-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Email</mat-label>
                <input matInput placeholder="email" formControlName="email" id="email" type="email">
              </mat-form-field>
              <ng-container *ngIf="signup.get('email')?.touched">
                <small *ngIf="signup.get('email')?.hasError('required'); else email">
                  *Email is required
                </small>
                <ng-template #email>
                  <small *ngIf="signup.get('email')?.hasError('email')">
                    *Email is Invalid
                  </small>
                </ng-template>
              </ng-container>
            </div>

            <div class="flex-row align-items-center mt-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Password</mat-label>
                <input matInput placeholder="password" formControlName="password" id="password" type="password">
              </mat-form-field>
              <ng-container *ngIf="signup.get('password')?.touched">
                <small *ngIf="signup.get('password')?.hasError('required'); ">
                  *Password is required
                </small>
              </ng-container>
            </div>

            <div class="form-check d-flex justify-content-center mb-5">
              Already have account? <a [routerLink]="['/login']"> Login Here</a>
            </div>

            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
              <button type="submit" data-mdb-button-init data-mdb-ripple-init
                class="btn btn-primary btn-lg">Register</button>
            </div>

          </form>

        </div>
        <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
            class="img-fluid" alt="Sample image">

        </div>
      </div>
    </div>
  </div>
</div>
